* {
    box-sizing: border-box;
}

body {
    font-family: cursive;
}

.container {
    text-align: center;
}

.blocks {
    display: flex;
    margin: 2em 0;
    justify-content: center;
    text-align: left;
}

.red-color .r {
    background-color: #FF0000;
    color: white;
    padding: 0 .2em;
    margin-right: .3em;
    border-radius: 50%;
}

.green-color .g {
    background-color: #00FF00;
    color: white;
    padding: 0 .2em;
    margin-right: .3em;
    border-radius: 50%;
}

.blue-color .b {
    background-color: #0000FF;
    color: white;
    padding: 0 .2em;
    margin-right: .3em;
    border-radius: 50%;
}

input {
    margin-right: 2em;
}

.output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-box {
    background-color: black;
    height: 6rem;
    width: 10rem;
    border-radius: 10px;
    border: 1px solid black;
}